
.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50%;
    height: 200px;
    padding: 5px;
}

.project-image-title{  
    display: flex;
    border-radius: 20px;
    border:2px solid;
    border-color: rgb(4, 42, 29);
    background-position: center;   
    flex-direction: row;
    align-items: flex-end; 
}

.project-title{
    text-decoration: none;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 85%;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(108, 205, 235) 0%, rgb(12, 44, 87) 100%);
}

.project-image-1{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("../images/SwapLog.PNG" );
    background-size: cover;
}

.project-image-1:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("../images/SwapLog_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-2{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("../images/WeatherDashboard.png" );
    background-size: cover;
}

.project-image-2:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("../images/WeatherDashboard_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-3{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("../images/NoteTaker.png" );
    background-size: cover;
}

.project-image-3:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("../images/NoteTaker_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-4{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("../images/PWA-Text-Editor.PNG" );
    background-size: cover;
}

.project-image-4:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("../images/PWA-Text-Editor_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-5{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("../images/WorkDaySchedule.png" );
    background-size: cover;
}

.project-image-5:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("../images/WorkDaySchedule_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-6{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("../images/Tech-Blog.PNG" );
    background-size: cover;
}

.project-image-6:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("../images/Tech-Blog_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}