.back-ground-color {
    background-color: #a29ca7;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 46, 83);
    font-weight: bold;
    height: 80px;
}

.image{
    width: 80px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50%;
    height: 200px;
    padding: 5px;
}

.project-image-title{  
    display: flex;
    border-radius: 20px;
    border:2px solid;
    border-color: rgb(4, 42, 29);
    background-position: center;   
    flex-direction: row;
    align-items: flex-end; 
}

.project-title{
    text-decoration: none;
    margin-bottom: 20px;
    padding: 8px;
    padding-right: 30px;
    font-size: 100%;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(226, 229, 230) 0%, rgb(78, 109, 148) 100%);
}

.project-image-1{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("./components/images/SwapLog.PNG" );
    background-size: cover;
}

.project-image-1:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("./components/images/SwapLog_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-2{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("./components/images/WeatherDashboard.png" );
    background-size: cover;
}

.project-image-2:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("./components/images/WeatherDashboard_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-3{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("./components/images/NoteTaker.png" );
    background-size: cover;
}

.project-image-3:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("./components/images/NoteTaker_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-4{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("./components/images/PWA-Text-Editor.PNG" );
    background-size: cover;
}

.project-image-4:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("./components/images/PWA-Text-Editor_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-5{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("./components/images/WorkDaySchedule.png" );
    background-size: cover;
}

.project-image-5:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("./components/images/WorkDaySchedule_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.project-image-6{
    color: rgb(14, 41, 14);
    height: 95%;
    width: 95%;
    background-image: url("./components/images/Tech-Blog.PNG" );
    background-size: cover;
}

.project-image-6:hover{
    height: 100%;
    width: 100%;
    color:#0e53c3;
    background-image: url("./components/images/Tech-Blog_blur.png" );
    box-shadow:  0 0 10px rgb(18, 51, 218);
}

.form{
    display: flex;
    flex-direction: column;
    
}

.message-box {
    display: block;
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.name-font {
    font-family:fantasy;
    padding-left: 50px;
    font-size: 80px;
}

.page-tab-font{
    font-family: cursive;
}

.about-me-container{
    display: flex;
    flex-direction: row;
}

.about-me-font{
    font-size: 25px;
}

.about-me-background-container{
    width: 100%;
    height: 800px;
}
.about-me-background{
    color: rgb(14, 41, 14);
    height: 100%;
    width: 100%;
    background-image: url("./components/images/aboutMe-background.jpg" );
    background-size: cover;
}

.nav-font-background {
    color: black;
    background: linear-gradient(52deg, #a29ca7 0%, #9e86b3 100%);
}

.nav-font-family{
    font-family: cursive
}

.nav-font{
    color:#0f0f0f;
    font-size: 30px;
}
.tab-padding{
    padding-right: 50px;
}



@media only screen and (max-width: 1440px){
    .about-me-container{
        flex-direction: column;
    }
    .about-me-background-container{
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 960px){
    .tab-padding{
        padding-right: 0px;
    }

    .portfolio-container{
        flex-wrap:nowrap;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 720px){
    .about-me-font{
        font-size:large;
    }
    .about-me-background-container{
        width: 100%;
        height: 250px;
    }
    .nav-font{
        font-size: 15px;
    }
    .name-font {
        font-size: 50px;
    }
}